*{margin: 0px; padding:0px;scroll-behavior: smooth;}

@font-face{font-family: "ProductSans";src: url("ProductSans.ttf") format("truetype"); }
@font-face{font-family: "Roboto";src: url("Roboto-Regular.ttf") format("truetype"); }

@media screen and (max-width: 970px){
    .textbox{transform: translateX(5%);width: 90%;}
}

@media screen and (max-width: 660px){
    div.menu > a{display: contents;position: relative;padding: 10px;}
    div.menu{float: left;position: absolute;margin: 10px 0 0 21px;}
}
@media screen and (min-width: 660px){
    #hamburger{display: none;}
    #navbar{height: 60px;}
}

@keyframes loader-loop{
    0%{margin:-1630px 0 0 320px}
    100%{margin:300px 0 0 870px;}
}

a:link, a:visited {
    color: rgba(255, 255, 255, 0.87);
    text-decoration:none;
  }
  
  a:link:active, a:visited:active {
    color:rgba(255, 255, 255, 0.87);
  }

#background{
    background-image: url(bg.png);
    height: 100%;
    width: 100%;
    filter: brightness(0.25);
    z-index: -99;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#navbar{
    position: sticky;
    background: #000000ee;
    color: #ffffffee;
    font-size: 40px;
    border-bottom: 1px solid #fff;
    z-index: 3;
    top:0;
    overflow-y: hidden;
    transition: 200ms ease;
    backdrop-filter: blur(5px);
}


#hamburger{
    background-image: url(menu-white-18dp.svg);
    height: 40px;
    width: 40;
    margin: 8px 10px 0 0;
    background-size: cover;
    float: right;
}

img.logo{
    height: 40px;
    margin: 7px 0 0 0;
    border-radius: 10px;
}

#aboutus,#romstats{transition: 200ms ease;}

.menu{float: right;font-size: 20px;font-family: ProductSans;}

.menu > a{
    padding: 15px;display: inline-flex;left: 0px; line-height: 30px;
}

.menuhide{
    height: 60px;
}
.menureveal{
    height: 200px;
}

.wiper{
    height: 300%;
    width: 30%;
    background: #ffffffd1;
    transform: rotate(45deg);
    filter: blur(40px);}

.heading{
    font-size: 60px;text-align: center;padding: 70px 0 0 0;
}
.heading2{
    font-size: 48px;text-align: center;padding: 60px 0 0 0;
}
.subtitle{
    font-size: 18px;text-align: center;padding: 10px 0 0 0;
}

.subtitle2{
    font-size: 18px;margin: 30px 0 30px 0px;padding: 10px 10px 10px 10px;border-radius: 10px;
}

.text{
    color: #ffffff;font-family: Roboto; 
}

.textbox{
    transform: translateX(15%);width: 70%;
}

.breaker{border: #ffffffee 1px solid;border-radius: 100px; background-color: #ffffffee; width: 90%;}

